@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  height: 100%;
  width: 100%;
}
body {
  width:100vw;
  height: 100vh;
  background: rgb(8, 8, 8);
}

.main-container{
  height: 200vh;
  padding: 20%;
}