@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width:100vw;
  height: 100vh;
}
.animate-open-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container{
  width: 600px;
}
